
@*@model IEnumerable<IrmineTest.Models.IRMINETest>*@

@{
    ViewBag.Title = "Example.Text";
}

<h2>Example.Text</h2>
Content-Type: text/plain; charset=utf-8

@*Hello @ViewBag.PersonName,*@



This is a message

