@model IEnumerable<IrmineTest.Models.IRMINETest>

Content-Type: text/html; charset=utf-8

<html>
  <body>
	<p>Hello TEST,</p>
	<p>This is a message</p>


      @Model.RandAllocation
      @*@IrmineTest.Details*@
      @*
           @Html.DisplayFor(model => model.RandID)
    
@Model.RandAllocation
      *@
  </body>
</html>